section {
  background-color: var(--white);
  padding: 40px 40px 0px 40px;
  .title-and-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-size: 2rem;
      color: var(--blue);
      font-weight: 700;
    }
    span {
      font-size: 3rem;
      color: var(--blue);
      font-weight: 700;
      cursor: pointer;
      &:hover {
        color: var(--red);
      }
    }
  }
  .upload-image-content {
    margin-top: 20px;
    text-align: center;
    h4 {
      font-size: 1.5rem;
      color: var(--blue);
      margin-bottom: 10px;
    }
    .upload-image {
      border: 3px solid var(--gray);
      border-radius: var(--radio);
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 20px;
      cursor: pointer;
      &:hover {
        transition: 0.2s linear all;
        transform: scale(1.01);
      }
      #image {
        height: 200px;
        user-select: none;
        pointer-events: none;
      }
      .drag-select {
        margin-right: 10%;
        p {
          font-size: 1.5rem;
          font-weight: 500;
          user-select: none;
          color: var(--gray);
        }
        #upload {
          margin-top: 20px;
          font-size: 5rem;
          color: var(--gray);
        }
      }
    }
  }
}

span {
  user-select: none;
}

.book-informations, .year {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  h4 {
    font-size: 1.5rem;
    color: var(--blue);
    margin-bottom: 10px;
  }
  label {
    font-size: 1.5rem;
    color: var(--blue);
  }
  input, select {
    margin-top: 10px;
    outline: none;
    color: var(--blue);
    font-size: var(--font-size);
    font-weight: 500;
    padding: 18px 18px;
    width: 450px;
    border-radius: var(--radio);
    border: 2px solid var(--gray);
    box-shadow: inset 0px 0px 5px var(--gray);
    background-color: transparent;
    transition: 0.2s linear all;
    &:focus {
      box-shadow: inset 0px 0px 2px var(--blue);
    }
    &::placeholder {
      color: var(--gray);
    }
  }
}

.year {
  input {
    width: 200px;
    color: var(--blue);
  }
}

.year-all-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 23px;
  select {
    background-color: transparent;
    color: var(--gray);
    font-size: var(--font-size);
    width: 83px;
    cursor: pointer;
    outline: none;
    padding: 18px 0px 18px 10px;
    margin: 0;
  }
}

#description {
  height:50px;
  background-color: var(--white);
}