<input autocomplete="off" class="hidden" type="file" id="file" accept="image/png, image/jpeg" (change)="onFileSelected($event)" />

<section>
  <div class="title-and-close">
    <h2>Add Book</h2>
    <span (click)="closeModal()" class="material-symbols-outlined">
      close
    </span>
  </div>
  <div class="upload-image-content">
    <h4>Cover Image</h4>
    <div id="uploadImage" class="upload-image"
         (click)="uploadFile()"
         (dragover)="onDragOver($event)"
         (dragleave)="onDragLeave($event)"
         (drop)="onDrop($event)">
      <img id="image" src="../../../../assets/imagem upload.png" />
      <div class="drag-select">
        <p>Drag or select an image</p>
        <span id="upload" class="material-symbols-outlined">upload</span>
      </div>
    </div>
  </div>
  <div id="titleContent" class="book-informations">
    <label for="book-name">Titulo</label>
    <input autocomplete="off" type="text" id="book-name" [(ngModel)]="bookName" placeholder="Name of your book">
  </div>
  <div id="authorContent" class="book-informations">
    <label for="author">Author</label>
    <input autocomplete="off" type="text" id="author-name" [(ngModel)]="authorName" placeholder="Author's name">
  </div>
  <div class="year-indication">
    <div class="year">
      <label for="year">Year</label>
      <div class="year-all-content">
        <input autocomplete="off" type="date" id="year" [(ngModel)]="bookYear" placeholder="mm/dd/yyyy">
      <label for="year">Indication</label>
      <select id="indicationContent" [(ngModel)]="bookIndication" name="Indication">
        <option selected value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
        <option value="NC-17">NC-17</option>
      </select>
      </div>
    </div>
  </div>
  <div id="descriptionContent" class="book-informations">
    <label for="author">Description</label>
    <textarea autocomplete="off" name="textarea-description" id="description" [(ngModel)]="bookDescription" placeholder="Add a description"></textarea>
  </div>
  <app-button textButton="Add" (click)="addBook()">Add</app-button>
</section>