section {
  background-color: var(--white);
  height: 100%;
  padding: 40px;
  .title-and-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-size: 2rem;
      color: var(--blue);
      font-weight: 700;
    }
    span {
      font-size: 3rem;
      color: var(--blue);
      font-weight: 700;
      cursor: pointer;
      &:hover {
        color: var(--red);
      }
    }
  }
  .upload-image-content {
    margin-top: 20px;
    text-align: center;
    h4 {
      font-size: 1.5rem;
      color: var(--blue);
      margin-bottom: 10px;
    }
    .upload-image {
      border: 3px solid var(--gray);
      border-radius: var(--radio);
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 20px;
      cursor: pointer;
      &:hover {
        transition: 0.2s linear all;
        transform: scale(1.01);
      }
      #image {
        height: 200px;
        user-select: none;
        pointer-events: none;
      }
      .drag-select {
        margin-right: 10%;
        p {
          font-size: 1.5rem;
          font-weight: 500;
          user-select: none;
          color: var(--gray);
        }
        #upload {
          margin-top: 20px;
          font-size: 5rem;
          color: var(--gray);
        }
      }
    }
  }
}

span {
  user-select: none;
}

.book-informations {
  //voltar depois
}