<app-header></app-header>

<section class="setting-content">
    <div class="profile-content">
        <img src="../../../assets/default-profile-photo.png" alt="profile photo">
        <h2 id="nameAccount"></h2>
    </div>
    <div class="appearance-content">
        <h2>Appearance</h2>
        <select name="theme" id="select-theme">
            <option selected value="Light">Light</option>
            <option value="Dark">Dark</option>
        </select>
    </div>
    <div class="appearance-content">
        <h2>Language</h2>
        <select name="theme" id="select-theme">
            <option selected value="Light">US</option>
            <option value="Dark">BR</option>
        </select>
    </div>
</section>