<section>
  <div class="left-login">
    <img src="../../../assets/logo1.png" alt="Panstein Library logo" />
    <h1>Panstein Library</h1>
  </div>
  <div class="rigth-login">
    <h1>LOGIN</h1>
    <div class="login">
        <label for="username">Enter your name</label>
        <div class="input-container">
          <input [(ngModel)]="userName" (keydown.enter)="login()" type="text" autocomplete="off" id="input-username" placeholder="Your name">
        <img src="../../../assets/arrow-login.png" (click)="login()" alt="Login">
        </div>
        <div class="error-message hidden">
          <p>Digite um nome válido</p>
        </div>
    </div>
  </div>
</section>
