section {
  background-image: url(../../../assets/login\ background.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  .left-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    user-select: none;
    h1 {
      background: linear-gradient(90deg, #1e5dd7, #03aded);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 2.5rem;
      font-weight: 700;
      margin-left: 20px;
    }
  }
  .rigth-login {
    position: absolute;
    right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    h1 {
      position: absolute;
      top: 150px;
      right: 180px;
      font-size: 5rem;
      color: var(--blue);
    }
    .login {
      position: absolute;
      right: 125px;
      text-align: center;
      font-weight: 500;
      label {
        white-space: nowrap;
        font-size: 1.5rem;
        color: var(--blue);
      }
      .input-container {
        position: relative;
        margin-top: 10px;
        input {
          margin: 0px 0px 0px 0px;
          outline: none;
          color: var(--blue);
          font-size: var(--font-size);
          font-weight: 500;
          padding: 18px 80px 18px 18px;
          width: 350px;
          border-radius: var(--radio);
          border: 2px solid var(--blue);
          box-shadow: inset 0px 0px 5px var(--blue);
          background-color: #ededed;
          transition: 0.2s linear all;
          position: relative;
          &:focus {
            background-color: #f1f1f1;
            box-shadow: inset 0px 0px 2px var(--blue);
          }
        }
      }
      img {
        position: absolute;
        background-color: var(--blue);
        width: 70px;
        height: 100%;
        right: 0px;
        bottom: 0px;
        top: 0px;
        border-top-right-radius: var(--radio);
        border-bottom-right-radius: var(--radio);
        padding: 15px;
        cursor: pointer;
        opacity: 0.9;
        transition: 0.2s linear all;
        &:hover {
          opacity: 1;
        }
      }
      .error-message {
        text-align: start;
        color: var(--red);
        font-size: var(--font-size);
        font-weight: 600;
        margin-left: 8px;
      }
    }
  }
}

.hidden {
  display: none;
}

.input-error,
.input-error::placeholder {
  border-color: var(--red) !important;
  color: var(--red) !important;
}

@media screen and (max-width: 1565px) {
  section {
    background-image: none;
    background-color: #ededed;
    .left-login {
      background-color: var(--blue);
      width: 50%;
      margin-left: 0px;
      img {
        height: 250px;
      }
      h1 {
        font-size: 2rem;
      }
    }
    .rigth-login {
      right: 0px;
      z-index: 20;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 1118px) {
  section {
    .left-login {
      width: 40%;
      margin-left: 0px;
      img {
        height: 200px;
      }
      h1 {
        font-size: 1.5rem;
      }
    }

    .rigth-login {
      right: 0px;
      z-index: 20;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 950px) {
  section {
    flex-direction: column;
    align-items: center; // Adicione esta linha para centralizar horizontalmente
    .left-login {
      background-color: transparent;
      height: 600px;
      margin: 0px;
      padding: 0;
      width: 100%;
      img {
        height: 200px;
      }
      h1 {
        font-size: 1.5rem;
      }
    }
    .rigth-login {
      position: relative; // Altere de absolute para relative
      top: unset; // Remova top e right
      right: unset;
      width: 100%; // Altere a largura para ocupar o espaço disponível
      display: flex;
      flex-direction: column;
      align-items: center; // Centralize os itens dentro do container
      h1 {
        top: -200px;
        right: unset;
        position: relative;
        font-size: 3rem;
        text-align: center; // Centralize o texto
      }
      .login {
        position: relative;
        right: unset;
        top: -100px;
        display: flex;
        flex-direction: column;
        align-items: center; // Centralize os campos de login
      }
    }
  }
}

@media screen and (max-width: 418px) {
  section {
    .left-login {
      img {
        height: 100px;
      }
    }
    .rigth-login {
      h1 {
        font-size: 2.5rem;
      }
      .login {
        .input-container {
          input {
            width: 280px;
          }
        }
      }
    }
  }
}