<section>
  <div class="left-login">
    <img src="../../../assets/2nDxGJ0vwMZF9x99Brhfb1ySgmX.svg" alt="Panstein Library logo" />
    <h1>Panstein Library</h1>
  </div>
  <div class="rigth-login">
    <h1>LOGIN</h1>
    <div class="login">
        <label for="username">Enter your name</label>
        <input type="text" id="input-username" placeholder="Your name">
        <!-- <input [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" class="input-form" type="text" placeholder="Digite seu nome" > -->
        <img src="../../../assets/arrow-login.png" alt="Login">
    </div>
  </div>
</section>
