<app-header></app-header>
<main>
  <section class="title-and-filter">
    <h1>Check out all available books</h1>
    <div class="filter-content">
      <div class="filter">
        <span class="material-symbols-outlined">search</span>
        <input type="text" placeholder="Search a book" />
      </div>
    </div>
  </section>
  <section class="books-content">
    <article *ngFor="let book of booksArray" class="book">
      <img [src]="book.image" alt="Capa do livro">
      <h3>Title: <span>{{ book.title }}</span></h3>
      <p>{{ book.description }}</p>
    </article>
  </section>
</main>
